FitnessGames/Temp/*
FitnessGames/Library/*
FitnessGames/obj/*
FitnessGames/ProjectSettings/ProjectSettings.asset
*.csproj
.vs
FitnessGames/FitnessGames.sln
FitnessGames/ProjectSettings/ProjectSettings.asset
